<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <ul>
    <% if task.completed == true %>
      <span><i class="fa-solid fa-square-check"></i><%= link_to task.title, task_path(task) %></span>
    <% else %>
      <span><i class="fa-solid fa-square"></i><%= link_to task.title, task_path(task) %></span>
    <% end %>
  </ul>
<% end %>
<span class="btn btn-primary"><%= link_to "Add New Task", new_task_path %></span>
